<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
<insert id="commentInsert" parameterType="Map">
	INSERT INTO comment (member_no, board_no, comment_content  )
	VALUES(#{member_no}, #{bno}, #{comment})
</insert>	
<select id="commentList" parameterType="Integer" resultType="Map">
	SELECT * FROM commentview WHERE board_no = #{bno}
</select>
</mapper>

