  @charset "UTF-8";
  
  #wrapper{


background-size: auto;
  width: 500px;
  height: 300px;
  

  
  }
  
#header {
  left:50%;
  text-align : center ;
}


.mainmenu{
	margin: 0 auto;
	position: relative;
	z-index: 1;
	top:16px;
	background: rgba(0,0,0,0.8);
	width: 70%;
	clear: both; 
	padding: 0px 0;
	  background-color: #0466e1;
	
	
}
.mainmenu ul{
	width: 100%;
	height: 60px;
	padding: 0px;
	border: 0px;
}
.mainmenu li{
	list-style-type: none;
	float: left;
	width: 24.5%;
	text-align: center;
	text-size: auto;
	padding: 0px;
	border: 0px;
}
.mainmenu li a{
	color: white;
	text-decoration: none;
	line-height: 60px;
	display: block;
	margin: 0px;
	text-align: center;
	
}
.mainmenu ul li:hover{
	cursor: pointer;
	background-color: black; 
}

.mainmenu li ul{
	background: rgba(0,0,0,0.8);
	display: none;
	height: auto;
	padding: 0px;
	border: 0px;
	margin: 0px;
	position: absolute;
	width: 24.5%;
	z-index: 200;
}
.mainmenu li:hover ul{
	display: block;
}
.mainmenu li li{
	background: rgba(0,0,0,0.8);
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.mainmenu li li:hover{
	background:white;
}
.mainmenu li li:hover a{
	color: black;
	font-weight: bold;
}


footer div{
	background-color: #D8D8D8;
	width: 100%;
	height: 50px;
	text-align: center;
}


ad div{
	background-color: blue;
	width: 100%;
	height: 50px;
	color:white;
	font-size:20;
	font-style:italic;
	font-weight:bold;
	text-align: center;
}

sesaon div{
	width:1750px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	
	
}
#month{
	
		width:1750px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	
	
	
}
#event{
	
	
	
	width:1750px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

#login{
	
	height:10px;
	margin-top:5px;
	font-size:17px;
	font-style:oblique;
	margin-right: 50px;
	text-align:right;
}

.home{
	float: left;
	height: auto;
}



