@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.section {
	width: 100%; /*1540px; */
	height: auto;
	background:  white;
	padding : 100px 100px;
}

.join_form{
  width: 60%;
  margin: 60px auto;
  background: #F0ECEC;
  padding: 60px 120px 80px 120px;
  border-radius:10px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
} 

}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  margin-bottom:10px;
  outline: none;
  border: none;
}
.id_check{
  width: 100%;
  padding: 10px;
  background: transparent; 
  margin-top:5px;
  margin-bottom:5px;
  border:2px solid #8BC34A;
  border-radius:13px;
  outline: none;
}
.email_btn{
  width: 100%;
  padding: 10px;
  background: transparent; 
  margin-top:5px;
  margin-bottom:5px;
  border:2px solid #8BC34A;
  border-radius:13px;
  outline: none;
  cursor: pointer;
  transition: ease .3s;
}
.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}
input[placeholder]{
	font-weight: bold;
	}
	

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #8BC34A;
  color: #ffffff;
}
.join_btn{
	margin-top:5px;
	border-radius: 5px;
}
