@charset "utf-8";
 

@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
/* body, table, div, p {font-family:'Nanum Gothic';} */


/*******************************************************************
*	공통 css
********************************************************************/
/* #wrapper {width:100%;}
#header {position:relative; width:100%; padding-top:36px;;z-index:90000;}
.header_utill {position:fixed; top:0; width:100%; height:36px; background:url('/images/common/header_utill_bg.gif') repeat-x 0 0; overflow:hidden; z-index:90000;}
.header_utill_contents ul li {float:left;}
.header_utill_contents ul.floatR {padding:12px 0 12px;}
.header_utill_contents ul.floatR li {background:url('/images/common/header_utill_bg_line.gif') no-repeat right 1px; padding-right:21px;}
.header_utill_contents ul.floatR li a {font-weight:bold;}
.header_utill_contents a {color:#666; text-decoration:none;}
.header_utill_contents a:hover {text-decoration:underline;}
.header_inner {position:relative; min-height:81px; padding-top:7px;}
.header_inner h1 {float:left; width:193px; padding-top:10px; padding-right:20px; text-align:center;}
.header_inner .search_field {float:left; width:480px;}
.header_inner .search_field dl {margin-top:32px;}
.header_inner .search_field dl dt {float:left; width:433px;height:28px; border:3px solid #417ff2; border-right:0; overflow:hidden;}
.header_inner .search_field dl dt input {width:415px;  padding:6px 9px 8px 9px;}
.header_inner .search_field dl dd {float:left;}
.header_inner .quick_field {float:right; margin:37px 0 0 0;}
.header_inner .quick_field li {position:relative; float:left; height:26px; padding-left:10px;}
.header_inner .quick_field .ico_n {position:absolute; top:-16px; left:4px; width:45px; height:24px;}
.header_inner .quick_field.b2b li strong {color:#cc1517; letter-spacing:0;}
.header_inner .quick_field.b2b .appr {height:21px; background:url('/b2b/images/common/b2b_head_icon.gif') no-repeat 0 0; margin-left:48px; padding:4px 0 0 40px; color:#33353d; font-size:15px; font-family:'Malgun Gothic','맑은 고딕',Dotum,Arial,sans-serif; font-weight:bold; letter-spacing:-0.08em;}
.header_inner .quick_field.b2b .deli {height:21px; background:url('/b2b/images/common/b2b_head_icon2.gif') no-repeat 0 0; margin-left:48px; padding:4px 0 0 35px; color:#33353d; font-size:15px; font-family:'Malgun Gothic','맑은 고딕',Dotum,Arial,sans-serif; font-weight:bold; letter-spacing:-0.08em;}
.header_menu {min-height:43px;min-height:41px;}
.header_menu_contents {position:relative;}
.header_menu_contents .left {width:627px; background:url('/images/common/header_menu_bg02_2.gif') repeat-x 0 0; padding-left:25px;}
.header_menu_contents .right li {padding:0 !important;} */
/*상단 전체메뉴*/
.all_cate {float:left; width:214px; display:block;z-index:90000;}
.btnAllMenu {width:100%; height:41px; display:block;}
.all_menu.show {width:1080px; min-height:508px; display:block;}
.all_menu {position:absolute; left:0; top:51px; width:1048px; background:#fff; padding:0; vertical-align:top; border:1px solid #424242; border-top:0; display:none; z-index:90000; zoom:1;}
.all_menu:after {clear:both; content:""; display:block;}
.all_menu a.all_menu_close {position:absolute; right:0; bottom:0; width:33px; height:33px;}
.all_menu table {width:100%;}
.all_menu table tr:not(:last-child){border-bottom:1px dotted #bebebe}
.all_menu table td {border-right:1px dotted #bebebe; vertical-align:top;}
.all_menu table td.last {border:none;}
.all_menu table td dl {padding:20px 0 7px 16px;}
.all_menu table td dl dt {padding:0 0 13px; font-weight:bold; line-height:120%;}
.all_menu table td dl dt a {color:#333;}
.all_menu table td dl dt a:hover {color:#cb003d;}
.all_menu table td dl dd {padding:0 0 8px;}
.all_menu table td dl dd a {color:#666; font-size:11px;}
.all_menu table td dl dd a:hover {color:#cb003d;}
a {cursor:pointer;}
.top_mall {height:41px; display:block;}
.top_mall li {float:left; padding:9px 0 0 28px;} */
/* #container {position:relative; background:none; repeat-x 0 0;}
#footer {clear:both; width:100%; min-height:180px; border-top:1px solid #ddd;} */
/*
/*푸터 메뉴*/
.footer_menu {height:40px; border-bottom:1px solid #ddd;}
.footer_menu ul {float:left; padding-top:16px;}
.footer_menu ul li {float:left; padding-right:12px; letter-spacing:-1px;}
.footer_menu ul li a {color:#666; background:url('/images/common/footer_menu_line.gif') no-repeat left center; padding-left:13px;}
.footer_menu ul li.first a {background:none; padding:0;}
.footer_menu select {min-width:150px; height:22px; margin-top:10px; border:1px solid #d5d5d5;}
/*푸터 주소*/
.footer_desc {position:relative; padding-top:20px;}
.footer_logo {float:left; padding-top:11px; display:inline-block;}
.footer_desc .company_info {float:left; padding:10px 0 0 40px; color:#7f7f7f; font-size:11px; line-height:160%;}
.footer_bn {float:left;margin-left:50px;}
.footer_bn02 {clear:both; height:52px; padding:0 0 0 183px;}
#footer_social_biz_logo,#footer_ass_ci_ko{float:right;color:#7f7f7f; font-size:11px; line-height:160%;margin-top:15px;margin-right:15px;}
#footer_star_social_biz_logo{float:right;color:#7f7f7f; font-size:11px; line-height:160%;margin-top:15px;}
#footer_star_social_biz_logo span{display:block;text-align:center;margin-top:5px;}
#footer_social_biz_logo span{display:block;text-align:center;margin-top:5px;}
#footer_ass_ci_ko span{display:block;text-align:center;margin-top:5px;}
/*양쪽 날개*/
#wing_wrap {position:absolute; top:0; width:100%; z-index:9999;}
.wing_center_wrap {position:relative; width:1082px; margin:0 auto; z-index:8000;}
.left_wing {position:absolute; left:-195px; top:0; width:110px;}
.left_wing ul {width:110px; border:0px solid #d6d6d6;}
.left_wing ul li {width:110px; padding:0 0 4px 0;}
.right_wing {position:absolute; top:0; right:-105px; width:90px;}
.Q_menu_position_type1 {position:fixed;top:0px; margin-top:75px;}
.Q_menu_position_type2 {position:relative;top:12px;}
.quick_area {width:90px; background:url('/images/common/quick_area_bg.gif') repeat-y 0 0; border-bottom:1px solid #d6d6d6;z-index:1;}
.quick_area ul {width:90px;}
.quick_area ul li {width:100%;}
.quick_area ul li.view {position:relative; padding-bottom:30px;}
.quick_area ul li .title {height:25px;}
.quick_area .bx_area.short .bx-controls {position:absolute; left:0; bottom:45px; top:auto; width:100%; text-align:right; z-index:1000;}
.quick_area .bx_area.short .bx-pager {position:absolute; left:0; width:100%; height:15px; font-size:11px; line-height:140%; letter-spacing:-1px; text-align:center;}
.quick_area .bx_area.short .bx-pager strong {color:#000;}
.quick_area .bx_area.small .bx-controls-direction {position:absolute;left:0;top:0; width:100%; height:17px; text-align:center; z-index:1400;}
.quick_area .bx_area.small .bx-controls-direction a {width:15px; height:15px; background: url('/images/common/bx_slider_control02.gif') no-repeat; margin:0 14px 0 14px; font-size:0; line-height:0; display:inline-block;}
.quick_area .bx_area.small .bx-controls-direction .bx-prev {background-position:0 0;}
.quick_area .bx_area.small .bx-controls-direction .bx-prev:hover {background-position:0 -20px;}
.quick_area .bx_area.small .bx-controls-direction .bx-next {background-position:-25px 0;}
.quick_area .bx_area.small .bx-controls-direction .bx-next:hover {background-position:-25px -20px;}
.quick_area .bx-controls-auto{display:none;}
.quick_area .bx_area{padding-top:10px}
.quick_area .bx_area li {border-top:0;height:70px;}
.quick_area .bx_area li div {width:70px; height:70px; background:#dfdfdf; margin:0 9px;}
.quick_area .bx_area li div img {width:70px; height:70px;}
.quick_area .bx_area .item_num {position:absolute; bottom:8px; width:88px; font-size:11px; text-align:center;}
.quick_area ul li.user {width:82px; height:85px; background:url('/images/common/quick_area_bg02.gif') no-repeat 0 0; padding:4px;}
.quick_area ul li.user ul {width:82px;}
.quick_area ul li.user ul li {padding-top:10px; color:#fff; line-height:120%; text-align:center; border:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.quick_area ul li.user ul li {padding-top:9px;}
.quick_area ul li.user ul li img {padding-top:2px;} 
}
/*간편장바구니*/
#easy_cart_wrapper{width:100%;background:url('/images/common/easy_cart_bg.jpg') repeat-x 0 -29px;position: fixed; bottom: 0; z-index: 16000; _position:absolute; _z-index:-1;}
.easy_cart{position:relative;width:1082px; margin:0 auto;padding-top:4px;}
#cartOpen_tit{position:absolute;right:0;top:-29px}
.cartView{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;height:190px;background:#fff;overflow:hidden;}
.cartView_left{float:left;width:815px;height:190px;border-right:1px solid #dfdfdf;}
.cartView_right{float:left;padding:21px 0 0 30px;}
.cartView .top_btn{height:30px;padding:7px 55px 0 0;text-align:right}
.cartView_list{position:relative;overflow:hidden;width:815px;}
.cartView_list ul{padding-left:32px}
.cartView_list li{float:left;}
.easy_cart_goods{width:150px;}
.easy_cart_goods div{text-align:center;height:100%;}
.easy_cart_goods .photo img{width:110px;height:85px;}
.easy_cart_goods .title{font-size:11px;color:#555;padding-top:6px}
.easy_cart_goods .price{font-size:11px;color:#e03930;padding-top:6px}
.easy_cart_goods .price strong{font-size:12px;color:#e03930;}
.easy_cart_goods .sel{color:#555;padding-top:4px}
.cartArrowLeft{position:absolute;left:-1px;top:32px}
.cartArrowRight{position:absolute;right:-1px;top:32px}
.easyCart_price{width:206px;}
.easyCart_price .title{height:26px;}
.easyCart_price .price_box{border:1px solid #dfdfdf;height:60px;background:#fbfbfb}
.easyCart_price .price_box dl{overflow:hidden;padding-left:20px;padding-top:13px}
.easyCart_price .price_box dt{float:left;height:22px;width:60px;font-size:14px;}
.easyCart_price .price_box dd{float:left;height:22px;width:115px;font-weight:bold;text-align:right}
.easyCart_price .total_box{height:34px;background:url('/images/common/bg_dot_line.gif') repeat-x 0 100%;}
.easyCart_price .total_box dl{overflow:hidden;padding-left:20px;padding-top:10px}
.easyCart_price .total_box dt{float:left;height:22px;width:60px;color:#dd3832;font-size:14px;}
.easyCart_price .total_box dd{float:left;height:22px;width:115px;font-weight:bold;text-align:right;color:#dd3832}
.easyCart_price .btn{text-align:center;padding-top:11px}
.easyCart_price .txtnum1{font-size:15px;}
.easyCart_price .txtnum2{font-weight:bold;font-size:14px;}
.ui-front {
    z-index:1000000 !important; /* The default is 100. !important overrides the default. */
}
/*******************************************************************
*	정렬관련
********************************************************************/
.wrapper_fix {width:1076px; margin:0 auto;}
.floatL {float:left;}
.floatR {float:right;}
.float_clear { float:none !important;}
.clearFloat:after{clear:both;content:"";display:block;}
.clear{clear:both;}
.block{display:block;}
.hidden { display: none; }
.cursor { cursor: pointer; }
/*******************************************************************
*	글자정렬
********************************************************************/
.txtCen{text-align:center}
.txtLeft{text-align:left}
.txtRight{text-align:right}

/*******************************************************************
*	간격관련
********************************************************************/
.p_t2 {padding-top:2px !important;}
.p_t4 {padding-top:4px !important;}
.p_t6 {padding-top:6px !important;}
.p_t8 {padding-top:8px !important;}
.p_t10 {padding-top:10px !important;}
.p_t12 {padding-top:12px !important;}
.p_t18 {padding-top:18px !important;}
.p_t20 {padding-top:20px !important;}
.p_t22 {padding-top:22px !important;}
.p_t30 {padding-top:30px !important;}
.p_t40 {padding-top:40px !important;}
.p_t50 {padding-top:50px !important;}
.p_r10 {padding-right:10px !important;}
.p_r20 {padding-right:20px !important;}
.p_r30 {padding-right:30px !important;}
.p_r150 {padding-right:150px !important;}
.p_r197 {padding-right:197px !important;}
.p_l20 {padding-left:20px !important;}
.p_l64 {padding-left:64px !important;}
.p_l10 {padding-left:10px !important;}
.p_l100 {padding-left:100px !important;}
.p_b5 {padding-bottom:5px !important;}
.p_b6 {padding-bottom:6px !important;}
.p_b10 {padding-bottom:10px !important;}

.p_tb10 {padding:10px 0 !important;}

.m_t10 {margin-top:10px !important;}
.m_t12 {margin-top:12px !important;}
.m_t20 {margin-top:20px !important;}
.m_t22 {margin-top:22px !important;}
.m_t30 {margin-top:30px !important;}
.m_t40 {margin-top:40px !important;}
.m_t50 {margin-top:50px !important;}
.m_b6 {margin-bottom:6px !important;}
.m_b10 {margin-bottom:10px !important;}
.m_b50 {margin-bottom:50px !important;}

/*******************************************************************
*	폰트관련
********************************************************************/
.font_bold {font-weight:bold;}
.strike{text-decoration:line-through;}
.letter_s1 {letter-spacing:-1px;}
/*폰트 사이즈*/
.size_10	{font-size:10px !important;}
.size_11	{font-size:11px !important;}
.size_12	{font-size:12px !important;}
.size_13	{font-size:13px !important;}
.size_14	{font-size:14px !important;}
.size_15	{font-size:15px !important;}
.size_16	{font-size:16px !important;}
.size_17	{font-size:17px !important;}
.size_18	{font-size:18px !important;}
.size_20	{font-size:20px !important;}
.size_22	{font-size:22px !important;}
.size_24	{font-size:24px !important;}
.size_25	{font-size:25px !important;}
.size_26	{font-size:26px !important;}
.size_27	{font-size:27px !important;}
.size_29	{font-size:29px !important;}
.size_30	{font-size:30px !important;}
/*글자간*/
.line_h140 {line-height:140% !important;}
.line_h150 {line-height:150% !important;}
.line_h160 {line-height:160% !important;}
.line_h170 {line-height:170% !important;}
.line_h180 {line-height:180% !important;}
.line_h200 {line-height:200% !important;}
.line_h220 {line-height:220% !important;}
.line_h240 {line-height:240% !important;}
.line_h260 {line-height:260% !important;}
.line_h300 {line-height:300% !important;}

.line_h140 li{line-height:140% !important;}
.line_h150 li{line-height:150% !important;}
.line_h160 li{line-height:160% !important;}
.line_h170 li{line-height:170% !important;}
.line_h180 li{line-height:180% !important;}

/*******************************************************************
*	색관련
********************************************************************/
.color_43 {color:#434343 !important;}
.color_77 {color:#777 !important;}
.color_517 {color:#cc1517 !important;}
.color_799 {color:#fff799 !important;}
.color_700 {color:#eef700 !important;}

.imp_star{color:#cc0033;position:relative;top:2px;}
.txtS_info_red{line-height: 30px;vertical-align: top;color: #e53e23;margin-left: 10px !important;}
.txt_info_red{color:#cc0033; font-size:12px; font-weight:bold}
.txt_info_blue{color:#5872c7; font-weight:bold}

/*******************************************************************
*	기타공통부분
********************************************************************/
i {font-style: normal;font-family:Tahoma, Geneva, sans-serif !important; letter-spacing:0}

.lineBox1{padding:13px 30px;border-top:2px solid #cb003d;background:#f9f9f9;border-bottom:1px solid #dfdfdf;}
.lineBox2{padding:8px 30px;border-top:2px solid #cb003d;background:#f9f9f9;border-bottom:1px solid #dfdfdf;}
.lineBox3{padding:8px 30px;border-top:1px solid #dfdfdf;background:#f9f9f9;border-bottom:1px solid #dfdfdf;}

.info_txt{padding-left:20px;background:url('/images/icon/bullet1.gif') no-repeat 10px 5px;padding-bottom:10px;}
.info_txt2{padding-left:20px;background:url('/images/icon/bullet1.gif') no-repeat 10px 3px;padding-bottom:10px;font-size:11px;color:#666}
.info_txt3{padding-left:22px;line-height:20px;background:url('/images/icon/ico_exclamation.gif') no-repeat 0 0;font-size:11px;color:#666;padding-bottom:5px}

.w_280 {width:280px !important;}
.w_26 {width:26% !important;}
.w_70 {width:70% !important;}

.b_dotB {width:100%; border-bottom:1px dotted #bbb;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .b_dotB {width:100%; border-bottom:1px dotted #d7d7d7;} }

/*******************************************************************
*	팝업레이어
*******************************************************************/
.layer_popup{z-index:90001;}
.layer_popup .layer_tit{height:35px;padding-top:8px;background-color:#3b78ce;text-align:center;color: white;}
.layer_popup .layer_box{border-top:1px solid #417ff2;border-left:1px solid #417ff2;border-right:1px solid #417ff2;}
.layer_popup .layer_cont{background:#fff}
.layer_popup .layer_close{height:60px;text-align: center;}
/* .layer_popup .layer_close .info_close{float:left;font-size:11px;color:#747474} */
/* .layer_popup .layer_close .btn_close{float:right;margin-top: 5px;} */
.layer_popup .layer_close input[type="checkbox"]{margin-right:3px;vertical-align:middle;}
.layer_popup.layer_close img{vertical-align:middle;}
/* .layer_popup .bonus_info{padding:15px 11px 15px 11px;} */
/*버튼*/
.btnBox1{display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;margin:0 0 0 5px !important;background:#f0f0f0; border:1px solid #919191;}
.btnBox1 input[type="button"]{background:none; line-height:26px; height:26px; padding:0 15px 2px 15px;cursor:pointer;}
.btnBox1 a {line-height:26px; height:26px; padding:0 15px 2px 15px; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.btnBox1 input[type="button"]{background:none; padding:0 15px 0 15px;}
.btnBox1 a {height:26px; padding:0 15px 0 15px;}
}
.btnBox2{display:inline-block !important; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#417ff2;}
.btnBox2 a {line-height:18px; height:19px; padding:3px 15px 0 15px; color:#fff; font-weight:bold; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .btnBox2 a {height:21px; padding:1px 15px 0 15px;} }
.btnBox3{display:inline-block !important; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#cc1517;}
.btnBox3 a {line-height:18px; height:19px; padding:3px 15px 0 15px; color:#fff; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .btnBox3 a {height:21px; padding:1px 15px 0 15px;} }
.btnBox4{display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;margin:0 0 0 5px !important;background:#f0f0f0; border:1px solid #919191;}
.btnBox4 a {line-height:22px; height:21px; padding:2px 20px 2px 20px; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.btnBox4 a {height:25px; padding:0 20px 0 20px;}}
.btnBox5{display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#f0f0f0; border:1px solid #919191;margin:2px 0}
.btnBox5 a {line-height:21px; height:19px;width:105px;padding:0; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.btnBox5 a {height:19px; padding:0;}}
.btnBox6{display:inline-block !important; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#f0f0f0;border:1px solid #919191;}
.btnBox6 a {line-height:18px; height:18px; padding:2px 14px 0 14px; color:#000; font-weight:bold; display:block;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .btnBox6 a {height:20px; padding:0px 15px 0 15px;} }
.btnBox_orange{display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#f87564; border:1px solid #da6050;margin:2px 0}
.btnBox_orange a {line-height:21px; height:19px;width:105px;padding:0; display:block;color:#fff}
@media screen and (-webkit-min-device-pixel-ratio:0) {.btnBox_orange a {height:19px; padding:0;}}
.btnBox_blue{display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;background:#3c71d4; border:1px solid #2e829d;margin:2px 0}
.btnBox_blue a {line-height:21px; height:19px;width:105px;padding:0; display:block;color:#fff}
@media screen and (-webkit-min-device-pixel-ratio:0) {.btnBox_blue a {height:19px; padding:0;}}




.abs {position:absolute !important}
.rel {position:relative !important}
.fixed {position:fixed !important}
.fr {float:right !important}
.fl {float:left !important}
.noBg {background:none !important}
.overHidden {overflow:hidden !important}
.inline {display:inline !important;}
.inblock {display:inline-block !important;}
.block {display:block !important;}

.nrb {border-right:none !important}
.nlb {border-left:none !important}
.ntb {border-top:none !important}
.nbb {border-bottom:none !important}
.noa {border:none !important}

.nrp {padding-right:0 !important}
.nlp {padding-left:0 !important}
.ntp {padding-top:0 !important}
.nbp {padding-bottom:0 !important}
.noPadding {padding:0 !important}

.nrm {margin-right:0 !important}
.nlm {margin-left:0 !important}
.ntm {margin-top:0 !important}
.nbm {margin-bottom:0 !important}
.noMargin {margin:0 !important}

.line100 {line-height:100% !important}
.line110 {line-height:110% !important}
.line120 {line-height:120% !important}
.line130 {line-height:130% !important}
.line140 {line-height:140% !important}
.line150 {line-height:150% !important}
.line160 {line-height:160% !important}
.line170 {line-height:170% !important}
.line180 {line-height:180% !important}
.line190 {line-height:190% !important}
.line200 {line-height:200% !important}
.line250 {line-height:250% !important}
.line300 {line-height:300% !important}

.fs10 {font-size:10px !important}
.fs11 {font-size:11px !important}
.fs12 {font-size:12px !important}
.fs13 {font-size:13px !important}
.fs14 {font-size:14px !important}
.fs15 {font-size:15px !important}
.fs16 {font-size:16px !important}
.fs17 {font-size:17px !important}
.fs18 {font-size:18px !important}
.fs19 {font-size:19px !important}
.fs20 {font-size:20px !important}
.fs21 {font-size:21px !important}
.fs22 {font-size:22px !important}
.fs23 {font-size:23px !important}
.fs24 {font-size:24px !important}
.fs25 {font-size:25px !important}
.fs26 {font-size:26px !important}
.fs27 {font-size:27px !important}
.fs28 {font-size:28px !important}
.fs29 {font-size:29px !important}
.fs30 {font-size:30px !important}

.em01 {font-size:1em !important}
.em11 {font-size:1.1em !important}
.em12 {font-size:1.2em !important}
.em13 {font-size:1.3em !important}
.em14 {font-size:1.4em !important}
.em15 {font-size:1.5em !important}


.mt-30 { margin-top:-30px !important; }
.mt03 {margin-top:3px !important}
.mt05 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}
.mt40 {margin-top:40px !important}
.mt45 {margin-top:45px !important}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important}
.mt60 {margin-top:60px !important}
.mt65 {margin-top:65px !important}
.mt70 {margin-top:70px !important}
.mt75 {margin-top:75px !important}
.mt80 {margin-top:80px !important}
.mt85 {margin-top:85px !important}
.mt90 {margin-top:90px !important}
.mt95 {margin-top:95px !important}
.mt100 {margin-top:100px !important}
.mt200 {margin-top:200px !important}

.mb05 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb45 {margin-bottom:45px !important}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important}
.mb60 {margin-bottom:60px !important}
.mb65 {margin-bottom:65px !important}
.mb70 {margin-bottom:70px !important}
.mb75 {margin-bottom:75px !important}
.mb80 {margin-bottom:80px !important}
.mb85 {margin-bottom:85px !important}
.mb90 {margin-bottom:90px !important}
.mb95 {margin-bottom:95px !important}
.mb100 {margin-bottom:100px !important}
.mb200 {margin-bottom:200px !important}

.ml-50 {margin-left:-50px !important}
.ml-60 {margin-left:-60px !important}
.ml05 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml25 {margin-left:25px !important}
.ml30 {margin-left:30px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml45 {margin-left:45px !important}
.ml50 {margin-left:50px !important}
.ml55 {margin-left:55px !important}
.ml60 {margin-left:60px !important}
.ml65 {margin-left:65px !important}
.ml70 {margin-left:70px !important}
.ml75 {margin-left:75px !important}
.ml80 {margin-left:80px !important}
.ml85 {margin-left:85px !important}
.ml90 {margin-left:90px !important}
.ml95 {margin-left:95px !important}
.ml100 {margin-left:100px !important}


.mr05 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr25 {margin-right:25px !important}
.mr30 {margin-right:30px !important}
.mr35 {margin-right:35px !important}
.mr40 {margin-right:40px !important}
.mr45 {margin-right:45px !important}
.mr50 {margin-right:50px !important}
.mr55 {margin-right:55px !important}
.mr60 {margin-right:60px !important}
.mr65 {margin-right:65px !important}
.mr70 {margin-right:70px !important}
.mr75 {margin-right:75px !important}
.mr80 {margin-right:80px !important}
.mr85 {margin-right:85px !important}
.mr90 {margin-right:90px !important}
.mr95 {margin-right:95px !important}
.mr100 {margin-right:100px !important}

.m05 {margin:5px !important}
.m10 {margin:10px !important}
.m15 {margin:15px !important}
.m20 {margin:20px !important}
.m25 {margin:25px !important}
.m30 {margin:30px !important}
.m35 {margin:35px !important}
.m40 {margin:40px !important}
.m45 {margin:45px !important}
.m50 {margin:50px !important}
.m55 {margin:55px !important}
.m60 {margin:60px !important}
.m65 {margin:65px !important}
.m70 {margin:70px !important}
.m75 {margin:75px !important}
.m80 {margin:80px !important}
.m85 {margin:85px !important}
.m90 {margin:90px !important}
.m95 {margin:95px !important}
.m100 {margin:100px !important}


.pt05 {padding-top:5px !important}
.pt10 {padding-top:10px !important}
.pt15 {padding-top:15px !important}
.pt20 {padding-top:20px !important}
.pt25 {padding-top:25px !important}
.pt30 {padding-top:30px !important}
.pt35 {padding-top:35px !important}
.pt40 {padding-top:40px !important}
.pt45 {padding-top:45px !important}
.pt50 {padding-top:50px !important}
.pt55 {padding-top:55px !important}
.pt60 {padding-top:60px !important}
.pt65 {padding-top:65px !important}
.pt70 {padding-top:70px !important}
.pt75 {padding-top:75px !important}
.pt80 {padding-top:80px !important}
.pt85 {padding-top:85px !important}
.pt90 {padding-top:90px !important}
.pt95 {padding-top:95px !important}
.pt100 {padding-top:100px !important}

.pb05 {padding-bottom:5px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb20 {padding-bottom:20px !important}
.pb25 {padding-bottom:25px !important}
.pb30 {padding-bottom:30px !important}
.pb35 {padding-bottom:35px !important}
.pb40 {padding-bottom:40px !important}
.pb45 {padding-bottom:45px !important}
.pb50 {padding-bottom:50px !important}
.pb55 {padding-bottom:55px !important}
.pb60 {padding-bottom:60px !important}
.pb65 {padding-bottom:65px !important}
.pb70 {padding-bottom:70px !important}
.pb75 {padding-bottom:75px !important}
.pb80 {padding-bottom:80px !important}
.pb85 {padding-bottom:85px !important}
.pb90 {padding-bottom:90px !important}
.pb95 {padding-bottom:95px !important}
.pb100 {padding-bottom:100px !important}

.pl05 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl25 {padding-left:25px !important}
.pl30 {padding-left:30px !important}
.pl35 {padding-left:35px !important}
.pl40 {padding-left:40px !important}
.pl45 {padding-left:45px !important}
.pl50 {padding-left:50px !important}
.pl55 {padding-left:55px !important}
.pl60 {padding-left:60px !important}
.pl65 {padding-left:65px !important}
.pl70 {padding-left:70px !important}
.pl75 {padding-left:75px !important}
.pl80 {padding-left:80px !important}
.pl85 {padding-left:85px !important}
.pl90 {padding-left:90px !important}
.pl95 {padding-left:95px !important}
.pl100 {padding-left:100px !important}


.pr05 {padding-right:5px !important}
.pr10 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr20 {padding-right:20px !important}
.pr25 {padding-right:25px !important}
.pr30 {padding-right:30px !important}
.pr35 {padding-right:35px !important}
.pr40 {padding-right:40px !important}
.pr45 {padding-right:45px !important}
.pr50 {padding-right:50px !important}
.pr55 {padding-right:55px !important}
.pr60 {padding-right:60px !important}
.pr65 {padding-right:65px !important}
.pr70 {padding-right:70px !important}
.pr75 {padding-right:75px !important}
.pr80 {padding-right:80px !important}
.pr85 {padding-right:85px !important}
.pr90 {padding-right:90px !important}
.pr95 {padding-right:95px !important}
.pr100 {padding-right:100px !important}



.p05 {padding:5px !important}
.p10 {padding:10px !important}
.p15 {padding:15px !important}
.p20 {padding:20px !important}
.p25 {padding:25px !important}
.p30 {padding:30px !important}
.p35 {padding:35px !important}
.p40 {padding:40px !important}
.p45 {padding:45px !important}
.p50 {padding:50px !important}
.p55 {padding:55px !important}
.p60 {padding:60px !important}
.p65 {padding:65px !important}
.p70 {padding:70px !important}
.p75 {padding:75px !important}
.p80 {padding:80px !important}
.p85 {padding:85px !important}
.p90 {padding:90px !important}
.p95 {padding:95px !important}
.p100 {padding:100px !important}


.w05 {width:5% !important;}
.w10 {width:10% !important;}
.w15 {width:15% !important;}
.w20 {width:20% !important;}
.w25 {width:25% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w50 {width:50% !important;}
.w55 {width:55% !important;}
.w60 {width:60% !important;}
.w65 {width:65% !important;}
.w70 {width:70% !important;}
.w75 {width:75% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w97 {width:97% !important;}
.w100 {width:100% !important;}

/* 폰트 두께 */
.bold {font-family:"malgunbd" !important}
.normal {font-weight:normal !important}

/* 감추기 */
.blind {display:none !important}
.hidden {position: absolute;left:-9999px;top:-9999px;}

/* float해제 */
.clearFix:after,ol:after,ul:after,dl:after {content:""; width:0; height:0; font-size:0; line-height:0; display:block; visibility:hidden; clear:both !important}
.clear {clear:both !important}


/* 박스관련 */
.borderBox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }


img {vertical-align: top;margin: 0;padding: 0;}
a {cursor:pointer;}

/* font-family */
.nanum {font-family:"nanum" !important;}
.nanumB {font-family:"nanumB" !important;}
.nanumEB {font-family:"nanumEB" !important;}
.barun {font-family:"barun" !important;}
.barunB {font-family:"barunB" !important;}
.malgun {font-family:"malgun" !important;}
.malgunbd {font-family:"malgunbd" !important;}


/* text 정렬 */
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}


/* 세로 정렬 */
.vertical * {vertical-align:middle !important;}
.vTop {vertical-align:top !important;}
.vMid {vertical-align:middle !important;}
.vBottom {vertical-align:bottom !important;}



/* list */
ul.list > li {float:left !important;}
ul.list:after {content:""; width:0; height:0; font-size:0; line-height:0; display:block; visibility:hidden; clear:both !important}

/* unvisible */
legend {visibility: hidden;font-size: 0;width: 0;height: 0;overflow: hidden;}